<a id='backtotop'></a>   
## Data analytics:  

## Vision Tree 2.0   
### Table of Contents:  
 
<a href='#Imports0'>Imports</a>  

<a href='#Read-Clipboard'>DF From ClipBoard</a>

<img src="./images/vizuals/image-BI-architecture-ilustration.png" width="800" height="300">

<a id='section_#1'></a>  
### I'm a section in the notebook:

* A **Data Warehouse** is a repository for structured, filtered data that has already been processed for a specific purpose [1].  
 While Data Warehouses use the classic ETL process in combination with structured data in a relational database, a  
* **Data Lake** uses paradigms such as **ELT** and a schema on-read as well as often unstructured data [2].  
A Data Lake can also be used as the basis for a Data Warehouse, so that the data is then made available in structured form in the Data Warehouse from there.   
* **The Data Mart** The Data Mart contains data focused on a specific line of business. Normally they dependent on the Data Warehouse, but also could be indpenedent that is often when it’s originating from an operational database or system. They are therefore a subset of a Data Warehouse or a system. Data marts offer the advantage of faster data retrieval. Since they usually contain only a subset of the Data Warehouse, the amount of data in a data mart is consequently considerably smaller. This smaller amount of data provides a much faster result when queries are made [3].   
  
  
<img src="./images/vizuals/image-data-lakehouse-Concept.png" width="800" height="300"> 
  
    
* **The Data Mart** A data mart is an excerpt or a copy of a partial database within a data warehouse and is used for analysis for a specific application or organizational area. 
Requirements and concept for a data mart
The data mart to be created must provide all data that can be used for possible queries in the department, organizational unit or user group. It should therefore first be clarified what claims the affected users have on the data mart. What should be queried and in what form?  

  
  
In order to **collect all this information efficiently and to be able to map it later**, it is advisable to **analyze the underlying business process** .  
Are there existing applications in which evaluations are already taking place?   
Are these evaluations sufficient or can they be improved or expanded?

The users themselves(the reader of the delevired report) give the best answers to such questions, so it is advisable to interview these people.  

**The business process should be viewed and understood in its entirety.**  
On this basis, it is possible to implement a data mart that is precisely tailored to the needs of the users concerned.  
  
>Example of a data mart.  

The evaluation of a time recording can be mentioned as an example of a data mart .  
The hours worked should be analyzed for each **employee**, **project** and **type of effort**.  
The data mart therefore includes the data relating to the recorded working hours of the individual employees and their projects.  
Since the projects can be assigned to different expense types, this data must also be part of the data mart.

## Resources:  
#### Subject:  
**Patient Compliance**
https://bmcmedinformdecismak.biomedcentral.com/articles/10.1186/s12911-018-0714-7  


**Data Anaytics** 
##### Understanding the Analytic Development Lifecycle  



**Towards Data Science**  
* <a href="https://towardsdatascience.com/understanding-the-analytic-development-lifecycle-2d1c9cd5692e">Understanding the Analytic Development Lifecycle-articl-TDS</a>  
  
##### End-to-End BI Project: Strategy, Steps, Processes, and Tools [Part-01]  
**Medium article**

* <a href="https://medium.com/geekculture/end-to-end-bi-project-strategy-steps-processes-and-tools-part-1-1f8c3f8cb00c">Link-to article</a> 

**Tableau:**  
* <a href="https://www.tableau.com/solutions/customer/providence-caregivers-improve-care-reduce-patient-costs-with-Tableau">providence-caregivers-improve-care-reduce-patient-costs-with-Tableau</a>  
* <a href="https://www.tableau.com/learn/articles/data-driven-decision-making">A Guide To Data Driven Decision Making-Tableau</a> 



**AWS**  
* <a href="https://aws.amazon.com/blogs/mt/automate-capture-analysis-ci-cd-metrics-using-aws-devops-monitoring-dashboard-solution/">How to automate capture and analysis of CI/CD metrics using AWS DevOps Monitoring Dashboard solution</a>  

* <a href="https://aws.amazon.com/blogs/architecture/data-warehouse-and-business-intelligence-technology-consolidation-using-aws/?nc1=b_rp">Data warehouse and business intelligence technology consolidation using AWS</a>  
  
  
* <a href="https://aws-samples.github.io/aws-analytics-reference-architecture/high-level-design/architecture/">AWS Analytics Reference Architecture</a>  
  
  
* <a href="https://aws.amazon.com/blogs/big-data/using-aws-cloudwatch-as-destination-for-amazon-redshift-audit-logs/">Use AWS CloudWatch as a destination for Amazon Redshift Audit logs</a>
  
  
* <a href="https://pages.awscloud.com/Combining-All-AWS-Analytics-Services-Around-a-Data-Lake_2019_1107-ABD_OD.html">hhkhjlkhlon for Amazon Redshift Audit logs</a>

In [ ]:
reports:
    Application Insights:
    
    Usage analysis by user(type) and an existing app-featue .

In [6]:
print(os.listdir('./images/vizuals/'))

['img-understanding-analytics-development-lifecycle.jpeg', 'image-tech-usage-dashboard.png', 'image-healthcate-dashboard.png', 'ScreenShot-AWS-purpose-built-analytics-service.png', 'image-data-lakehouse-Concept.png', 'image-BI-architecture-ilustration.png', 'image-AWS-analytics-Reference-Architecture-High-level-design.png', 'screenshot-vt-tag-status-july13.png', 'Image-aws-dw-architecture-iluustrtion.png']

## Understanding the Analytic Development Lifecycle  
### Bring your analytics from the cradle to the grave.

* **Your analytics will not last forever**  and instead, become obsolete and need to be retired. As you collect more and newer data, you will need to continue maintaining your current analytics while creating new ones.  
It is essential to understand what you will need to do at each stage of the analytic lifecycle.  
As seen below, I view the analytic lifecycle as five critical components to development:  
R&D, Deployment, Testing & Validation, Maintenance, and Retirement.  
So let’s walk through each element together!  
  

<img src="./images/vizuals/img-understanding-analytics-development-lifecycle.jpeg" width="800" height="300"> 

Analytic development lifecycle — image created by the author using LucidChart
Research and Development
Research and development encompass the first few steps in the analytic development lifecycle. After receiving your data, you will spend time looking it over, understanding its structure, and cleaning it. As you go about this process, you need to consider what analytic opportunities you see from the data, any business problems you are aware of, and how they overlap. As you work through developing your problem statement, you can begin to test out analytic concepts and develop your analytic.

This process varies if you are working with existing analytics. For current analytics, you will want to understand the areas that need improvement, methods you will utilize, and any subject matter expertise (SME) you have acquired to help you through these updates. Having followed up conversations with an SME will help you validate if your updates are going in the correct direction or not.

I find the research and development phase of the process to be the most interesting as it is where you can learn the most about your data. I work alongside other data scientists, data engineers, and subject matter experts daily. These individuals help in creating data sets and developing a data dictionary to understand what the data represents. I can then understand how to combine this data with other datasets to build my analyses. I want to make sure I see the larger picture and tell a compelling story before moving further down the process.

Testing and Validation with Deployment
After validating with an SME that the analytic looks as expected and is producing reliable results that make sense, it is time to prep the analytic for deployment. The process of deployment may vary, but the concepts are the same. I have developed or updated the code for my analytic at this stage, and I incorporate a more software engineering approach.

Software engineers commonly use unit testing and validation techniques in a CI/CD pipeline to test and verify that the code works as expected. When you test and validate your analytics, it can be on a much smaller dataset to start. This testing and validation are to make sure the code you wrote is functioning as expected without any major flaws or bugs introduced. Adding unit tests will give you the satisfaction that your code is running well before deploying it to a larger dataset.

Now that you have tested and validated your code on a small scale, you can deploy your code to a testing environment to run it on large datasets. At this point, you will want to run your code against most, if not all, the data you have to verify if the results still look as expected. You can double-check with your SME to make sure nothing has changed since the conception of the analytic idea or update. If the analytic looks as expected, you can move into the maintenance phase. Otherwise, you should go back to the research and development phase to investigate the issues seen. The two-step validation of testing code at a small scale with unit testing and a large scale with most or all the data will help create a solid foundation for well tested and maintained analytic code.

I have found this process helpful as it shows code design issues through the unit testing and presents problems with the analytic when testing it at scale. The multiple steps of testing and validating the code also makes sure that it is performing as expected. I have found fewer issues and iterations of code updates when using CI/CD for analytic development.

Maintenance
Now that you have deployed your analytic, it is time for it to transition to maintenance mode. In maintenance mode, you monitor your analytic for any bugs or deviations from the expected result. Some areas to consider for maintenance of an analytic include:

Has new data been introduced? Do you need to update the code with the addition of new data?
Has data been removed that affects your analytic? If you cannot fix this, then you may need to consider retirement.
Does the analytic output perform as expected, or has it begun to perform poorly? If it is performing poorly, what has changed?
Has the problem your analytic was trying to predict resolved itself, and now your analytic is not used? If so, you may need to consider retirement.
Has the problem statement changed, and if yes, how does this affect your analytic?
Do you need to retrain a model? Retraining may come up when the data you use for input has changed or new information is introduced.
These are just some areas you may need to consider as you maintain the analytic through its life. There are many more possibilities that could arise, and you will need to take them as they come and evaluate the possible outcomes and next steps.

Retirement
Retirement can be the quickest phase of the process. When an analytic is no longer useful, it is time to retire the code and move on to the next project. Depending on your team, retirement may look different from removing the code, disabling a deployment, or shutting down a dashboard of results. At this point, you will want to communicate out to the users why and when the analytic will stop. This communication is necessary as you should inform users of any significant change that could affect their decision-making process. If you are replacing your analytic with something new, let them know that too. Communication is key to others’ understanding your processes, and without it, things can become a mess.

Final Thoughts
Your analytics lifecycle may vary, including or removing different aspects that I have covered here. My thoughts were that the analytic lifecycle is very similar to a software development lifecycle in the idea that you are developing code that will be iterated upon, maintained, and eventually retired. The only main difference is how you do the validation and testing to confirm that you are getting the expected results with your work.

I would be interested to know more about how this lifecycle fits in with what you are doing today. Would you make any changes?

### Measure, learn, and build  
* Plan to measure how customers use new user experience or business features.  
* Write custom telemetry into your code.  
* Measure the effectiveness of each new feature that you deploy.  
* Base the next development cycle on evidence from your telemetry.

### What Is Business Intelligence? 

### Overview & Objectives:
    Objective 1: Improved decision-making through easier access to key metrics in the digital channel. Link insights to financial and operational metrics to specify impact and aid decision-making.       
    
    Objective 2: Ensure the plans meet long-term business objectives and help refine solutions in the future. Prioritize insights to build actionable plans and provide solutions/recommendations that help Super Store to address future challenges related to their sale channels.  
      
      
    Objective 3: Reduced time spent by the existing data analysis team on repetitive reporting tasks — gathering data and generating reports — manually. Have more time for generating insight and analyzing information.  
      
      
    Objective 4: Consolidating all the data together as the single source of truth which enables the key managers and support staffs to make their data-driven decision through the right support and a

####  the use of data to manage day-to-day operational management within a business.
 
  
    
### Data analytics can be broken into four key types:

**Descriptive, which answers the question, “What happened?”**  
- 1. Traffic and Engagement Reports  
- 2. Financial Statement Analysis  
- 3. Demand Trends  
- 4. Aggregated Survey Results  
- 5. Progress to Goals

**Diagnostic, which answers the question, “Why did this happen?”**. 

**Predictive, which answers the question, “What might happen in the future?”**. 

**Prescriptive, which answers the question, “What should we do next?”**. 

Each type of data analysis can help you reach specific goals and be used in tandem to create a full picture of data that informs your organization’s strategy formulation and decision-making.

Descriptive analytics can be leveraged on its own or act as a foundation for the other three analytics types. If you’re new to the field of business analytics, descriptive analytics is an accessible and rewarding place to start.

### Deliverables:  
- Clients Healcare Dashboard:
  
<img src="./images/image-healthcate-dashboard.png" width="800" height="300">   
  
- Clients Usage Dashboard:
  
<img src="./images/image-tech-usage-dashboard.png" width="800" height="300">

## The Product:  VTOC
### - VTOC features:  
   ### VTOC user self-managed features:  
   - Form Data Import Tool,
- Communication Manager 
- and Care Team Single Sign-On. 
   ### user self management and patient access include:  
- Rapid Forms Builder,
- Kiosk Mode,
- FastTrack Forms,
- Analytics & Reporting Suite 
- and native smartphone apps.

### Objectives:

### 1. Project: Separate Data Layer from Application Layer.
  
 ### Main objective (in the contexet of BI-vizualitation):  
 

#### 1. To show the current state of our Coldfusion app by presenting :  
>>  * the types of queries (the SQL Queries presented as tags).  
>> * the volume of queries that our app preform.  
#### 2. To show the New node-app executing queries via a unique-tag :  
> * Show the new tags being used and 
> * Show the quantity of the new tag's going up Vs the quantity of the ColdFusion queries going down.

##### Sugested solutinon and tools:

1. AWS-athena resource with access to source-data (cloudwatch log group or our backup rds-logs in s3)

2. AWS-quicksight resource with access to that athena resource.
  
    
### 2. Project: Identifying Customers and usage patterns...

'/Users/sagilevinas/Desktop/VT_mar22/projects/devop/vt-architecture-plus-modernization-planning/jupyter'

<img src="../Athena-Quicksight-logs-architecture.png" width="800" height="300">

### Analytics
 <a href="https://docs.aws.amazon.com/whitepapers/latest/aws-overview/analytics.html">AWS-Whitepaper-Analytics</a>  

###   AWS Analytics category icon
  
#### Topics

- Amazon Athena
- Amazon CloudSearch
- Amazon EMR
- Amazon FinSpace
- Amazon Kinesis
- Amazon Kinesis Data Firehose
- Amazon Kinesis Data Analytics
- Amazon Kinesis Data Streams
- Amazon Kinesis Video Streams
- Amazon OpenSearch Service
- Amazon Redshift (create and manage a data warehouse.)
- Amazon QuickSight
- AWS Data Exchange
- AWS Data Pipeline
- AWS Glue
- AWS Lake Formation
- Amazon Managed Streaming for Apache Kafka (Amazon MSK)

In [ ]:
# System Utilities 
create and manage a data warehouse.

In [8]:
 <a href="https://docs.aws.amazon.com/whitepapers/latest/aws-overview/analytics.html">AWS-Whitepaper-Analytics</a>

SyntaxError: invalid syntax (2482729440.py, line 1)

### Optional Workflow #2.

 <a href="https://docs.aws.amazon.com/prescriptive-guidance/latest/patterns/orchestrate-an-etl-pipeline-with-validation-transformation-and-partitioning-using-aws-step-functions.html">Orchestrate an ETL pipeline with validation, transformation, and partitioning using AWS Step Functions</a>  
 
<img src="chosen_architecture.png" width="800" height="300">

### Optional Workflow #3.
#### Parsing log by AWS Lambda, deploying code by Terraform and analyzing data by AWS Athena.

 <a href="https://medium.com/@vankhoa011/parsing-log-by-aws-lambda-deploying-code-by-terraform-and-analyzing-data-by-aws-athena-92430e01680e">Link-to article</a>

### Option 1.- Workflow:   
  
<img src="../vizual-workflow-s3-lambda-athena.png" width="800" height="300">  


- ***1.*** 
> An S3 upload from cloudwatch creates event to trigger lambda function. If there is a new file uploading on S3, it will send an event to execute AWS Lambda, and then parse logs 

- ***2*** 
> The Lambda function parses the raw event data and sends the data to an Amazon Simple Storage Service (Amazon S3) bucket for downstream processing.  

> Next, this script writes a new file and uploads it back to output folder on S3. Afterward, this script creates an Athena table.

- ***3.***  

>An Amazon Athena database points to the data in Amazon S3. It runs queries against the data and returns query results to Amazon QuickSight.  
- ***4.***. 
>Amazon QuickSight obtains the query results and builds dashboard visualizations for the management team.

### Option - Workflow #4: 

 
  
    
<img src="../workflow-vizual-s3-aws_lambda-athene-web_app.png" width="800" height="300">  

- ***Simple step-by-step architecture for building an ETL process and then displaying that data back to the end-user by only using serverless service from AWS.*** 

> * End-user uploads data file into the S3 (This can be done manually by logging onto the console or via an API accessible through a frontend application)  

> * S3 triggers a Lambda function on receiving a create object event  
  
  
> * Lambda function receives S3 event object and processes the data from the file into a relational database on AWS’s Aurora database (ETL)  

> * End-user can now access this data from the database by accessing the web application statically hosted on S3 & served via the Cloudfront  
  
> * This web application will make relevant API calls via ApiGateway (attached to Lambda functions) to fetch data
--------------------

In [2]:
log_file_loc='/Users/sagilevinas/Downloads/logs-insights-results (14).csv'

dfnow = pd.read_csv(log_file_loc)
dfnow.head()

                                            @message
0  2022-07-07 16:21:32 UTC:10.70.8.16(40486):post...
1  2022-07-07 16:21:32 UTC:10.70.8.16(45396):post...
2  2022-07-07 16:21:32 UTC:10.70.8.16(45396):post...
3  2022-07-07 16:21:32 UTC:10.70.8.16(45396):post...
4  2022-07-07 16:21:32 UTC:10.70.8.16(45396):post...

In [4]:
#print(dfnow.style.set_properties(**{'text-align': 'left'}))
display(dfnow.style.set_properties(**{'text-align': 'left'}))

## application performance monitoring metrics?  
- The key to application monitoring involves developing a greater understanding of your system and its users by collecting data that reveals if apps are behaving normally, alerting if there are anomalies, providing context about how functionality issues impact business outcomes, and optimizing the application to prevent performance issues.

## Metri to Measure:

### Ensure Application Availability

In [4]:
pwd

'/Users/sagilevinas/Desktop/VT_mar22/projects/devop/vt-architecture-plus-modernization-planning/jupyter'

## cloudWatch terms:
#### log stream.
- A log stream is a sequence of log events that share the same source.  
  Each separate source of logs in CloudWatch Logs makes up a separate  
  log stream.  
#### log group  
- A log group is a group of log streams that share the same  
  retention, monitoring, and access control settings.  
  You can define log groups and specify which streams to put into  
  each group.

In [ ]:
#col = 
import pandas as pd
df = pd.read_clipboard()
df

2022-07-08 19:24:06 UTC:10.70.8.16(35778):postgres@hc:[7267]:LOG: execute <unnamed>: -- CF query source: /patient/features/change_password/change_password_service.cfm -> [update] update users set password = $1, has_changed_password = true, password_valid_until = null, datepatientidchanged = now() where pk_user_id = $2

2022-07-08 19:24:05 UTC:10.70.8.24(48458):hl7_service@conf2:[6408]:LOG: execute <unnamed>: SELECT "insert_survey_response"( 964584, 17500972, 8516, $s$229 Old York Rd$s$ )

2022-07-08 19:24:05 UTC:10.70.8.24(48458):hl7_service@conf2:[6408]:LOG: execute <unnamed>: SELECT "insert_survey_response"( 964584, 17500972, 8480, $s$09/22/1949$s$ )

2022-07-08 19:24:05 UTC:10.70.8.24(48458):hl7_service@conf2:[6408]:LOG: execute <unnamed>: SELECT "insert_survey_response"( 964584, 17500972, 8456, $s$Brubaker$s$ )

2022-07-08 19:24:05 UTC:10.70.8.24(48458):hl7_service@conf2:[6408]:LOG: execute <unnamed>: SELECT "insert_survey_response"( 964584, 17500972, 8432, $s$Kenneth$s$ )
6
2022-07-08 19:24:05 UTC:10.70.8.24(48458):hl7_service@conf2:[6408]:LOG: execute <unnamed>: SET extra_float_digits = 3
7
2022-07-08 19:24:05 UTC:10.70.8.24(48456):hl7_service@conf2:[6407]:LOG: execute <unnamed>: INSERT INTO public."SurveyUser" ( "fk_User_ID_Origin", "fk_User_ID_Self", "fk_Resource_ID", submitter_id, revision_fk_surveyuser_id, revision_type ) VALUES ( $s$262165$s$, $s$964584$s$, $s$8400$s$, $s$-8008$s$, $s$17303595$s$, $s$update$s$ ) RETURNING "pk_SurveyUser_ID"
8
2022-07-08 19:24:05 UTC:10.70.8.24(48456):hl7_service@conf2:[6407]:LOG: execute <unnamed>: SELECT c.oid, a.attnum, a.attname, c.relname, n.nspname, a.attnotnull OR (t.typtype = 'd' AND t.typnotnull), pg_catalog.pg_get_expr(d.adbin, d.adrelid) LIKE '%nextval(%' FROM pg_catalog.pg_class c JOIN pg_catalog.pg_namespace n ON (c.relnamespace = n.oid) JOIN pg_catalog.pg_attribute a ON (c.oid = a.attrelid) JOIN pg_catalog.pg_type t ON (a.atttypid = t.oid) LEFT JOIN pg_catalog.pg_attrdef d ON (d.adrelid = a.attrelid AND d.adnum = a.attnum) JOIN (SELECT 6116021 AS oid , 1 AS attnum) vals ON (c.oid = vals.oid AND a.attnum = vals.attnum)
9
2022-07-08 19:24:05 UTC:10.70.8.24(48452):hl7_service@hc:[6405]:LOG: execute <unnamed>: SELECT count(*) FROM users WHERE internalid = $s$A220293$s$ AND fk_company_id = $s$94$s$ AND account_status = $s$1$s$ AND security = $s$1$s$ AND is_test_user = $s$false$s$
10
2022-07-08 19:24:05 UTC:10.70.8.24(48452):hl7_service@hc:[6405]:LOG: execute <unnamed>: SET extra_float_digits = 3
11
2022-07-08 19:24:05 UTC:10.70.8.24(48450):hl7_service@hc:[6404]:LOG: execute <unnamed>: SELECT c.oid, a.attnum, a.attname, c.relname, n.nspname, a.attnotnull OR (t.typtype = 'd' AND t.typnotnull), pg_catalog.pg_get_expr(d.adbin, d.adrelid) LIKE '%nextval(%' FROM pg_catalog.pg_class c JOIN pg_catalog.pg_namespace n ON (c.relnamespace = n.oid) JOIN pg_catalog.pg_attribute a ON (c.oid = a.attrelid) JOIN pg_catalog.pg_type t ON (a.atttypid = t.oid) LEFT JOIN pg_catalog.pg_attrdef d ON (d.adrelid = a.attrelid AND d.adnum = a.attnum) JOIN (SELECT 3519553 AS oid , 2 AS attnum) vals ON (c.oid = vals.oid AND a.attnum = vals.attnum)
12
2022-07-08 19:24:05 UTC:10.70.8.24(48450):hl7_service@hc:[6404]:LOG: execute <unnamed>: SELECT fk_company_id FROM users WHERE pk_user_id = $s$262165$s$ AND fk_company_id = $s$94$s$
13
2022-07-08 19:24:05 UTC:10.70.8.24(48450):hl7_service@hc:[6404]:LOG: execute <unnamed>: SET extra_float_digits = 3
14
2022-07-08 19:24:05 UTC:10.70.8.24(48456):hl7_service@conf2:[6407]:LOG: execute <unnamed>: SELECT "pk_SurveyUser_ID" FROM public."SurveyUser" WHERE "fk_User_ID_Origin" = $s$262165$s$ AND "fk_User_ID_Self" = $s$964584$s$ AND "fk_Resource_ID" = $s$8400$s$ AND revision_type = $s$new$s$
15
2022-07-08 19:24:05 UTC:10.70.8.24(48456):hl7_service@conf2:[6407]:LOG: execute <unnamed>: SELECT count(*) FROM public."SurveyUser" WHERE "fk_User_ID_Origin" = $s$262165$s$ AND "fk_User_ID_Self" = $s$964584$s$ AND "fk_Resource_ID" = $s$8400$s$ AND revision_type = $s$new$s$
16
2022-07-08 19:24:05 UTC:10.70.8.24(48456):hl7_service@conf2:[6407]:LOG: execute <unnamed>: SET extra_float_digits = 3
17
2022-07-08 19:24:05 UTC:10.70.8.24(48454):hl7_service@hc:[6406]:LOG: execute <unnamed>: SELECT c.oid, a.attnum, a.attname, c.relname, n.nspname, a.attnotnull OR (t.typtype = 'd' AND t.typnotnull), pg_catalog.pg_get_expr(d.adbin, d.adrelid) LIKE '%nextval(%' FROM pg_catalog.pg_class c JOIN pg_catalog.pg_namespace n ON (c.relnamespace = n.oid) JOIN pg_catalog.pg_attribute a ON (c.oid = a.attrelid) JOIN pg_catalog.pg_type t ON (a.atttypid = t.oid) LEFT JOIN pg_catalog.pg_attrdef d ON (d.adrelid = a.attrelid AND d.adnum = a.attnum) JOIN (SELECT 3519553 AS oid , 1 AS attnum) vals ON (c.oid = vals.oid AND a.attnum = vals.attnum)
18
2022-07-08 19:24:05 UTC:10.70.8.24(48454):hl7_service@hc:[6406]:LOG: execute <unnamed>: SELECT pk_user_id FROM users WHERE internalid = $s$A220293$s$ AND fk_company_id = $s$94$s$ AND account_status = $s$1$s$ AND security = $s$1$s$ AND is_test_user = $s$false$s$ LIMIT 1
19
2022-07-08 19:24:05 UTC:10.70.8.24(48454):hl7_service@hc:[6406]:LOG: execute <unnamed>: SET extra_float_digits = 3
20
2022-07-08 19:24:05 UTC:10.70.8.24(48452):hl7_service@hc:[6405]:LOG: execute <unnamed>: UPDAT

#### Read Clipboard  
<a href='#backtotop'>Back to Top</a>

In [ ]:
df = pd.read_clipboard(
    sep=",",
    header="infer",
    index_col=0,
    names=col
)
df

In [44]:
# df =  pd.read_csv("../../../DataSets/Clinical-Form-Compliance-Report-2022-07-16.xlsx")   

# print(df.shape)

df = myexcelfile

In [14]:
xl_file = pd.ExcelFile("../../../DataSets/Clinical-Form-Compliance-Report-2022-07-16.xlsx")

# dfs = {sheet_name: xl_file.parse(sheet_name) 
#           for sheet_name in xl_file.sheet_names}
#file_name = "../../../DataSets/Clinical-Form-Compliance-Report-2022-07-16.xlsx"

dfs = pd.read_excel(file_name, sheet_name=None)

/opt/homebrew/Caskroom/miniforge/base/envs/Py3/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [45]:
print(df.shape)

(175, 133)

In [49]:
for colName in list(df.columns):
    print(colName)

FirstName
LastName
Email
PatientID
CaseNo
Study
PhysicianFirstName
PhysicianLastName
Site
Templates
30-day Readmission
ADLs & IADLs
Allergies
ALS Functional Rating Scale
Aneurysm Presentation
Aneurysm Treatment
AVM Characteristics
AVM Presentation
AVM Treatment
Beck Anxiety Inventory
Berg Balance Tool
Complications Data
CV - Clinical Follow-up
CV - Patient Demographics
Diagnosis & Problems
Dietary Adherence
Endocrine Past Medical History
Enrollment Type
Functional Mobility
Gamma Knife Radiosurgery Treatment Arm
General Medical Profile
General Past Medical History
Glasgow Outcome Scale
Health Economics Information
Home Medications
Hospital Stay
Imaging
Important dates
Indication for Surgery
Intraoperative Blood Data
Intraoperative Summary
Intraoperative Technology Form
Lab
Lower Extremity Assessment
Lower Extremity MMT Grid
Lower Extremity Modified Ashworth Scale
Lower Extremity Range of Motion
Lower Extremity Status
Medical History
Medication List (Before Surgery)
Medications
Microbiology
Modified Frailty Index
Modified Rankin Scale (MRS)
Neuro Cognitive Summary Score Sheet
Neurofibromatosis
Neurological Exam
Neurology Clinical Form
Neuropsychiatric Inventory-Questionnaire (NPI-Q)
NIH Stroke Scale
Nurick Scale
Nutrition Genome Data
Pain Assessment
Parkinsons Clinical Data
Pathology - Brain Mets
Patient Contact Log
Patient Contact Tracking
Patient Demographics
Patient Registration
Pituitary - Demographics
Post-Radiosurgery Neuroradiology Data Form
Post-Temporal Lobectomy Neuroradiology Data Form
Post-Treatment Follow-up
Postoperative Acromegaly Treatments
Postoperative Cushings Disease Outcomes
Postoperative Cushings Disease Treatments
Postoperative Laboratory Results for Rathkes Cleft Cyst
Postoperative Laboratory Results of Acromegaly
Postoperative Nonfunctioning Adenoma Treatments and Outcomes
Postoperative Prolactinoma Outcomes
Postoperative Prolactinoma Treatments
Postoperative Rathkes Cleft Cyst Outcomes
Preoperative Laboratory Results for Cushings Disease
Preoperative Laboratory Results for Nonfunctioning Adenoma
Preoperative Laboratory Results for Prolactinoma
Preoperative Laboratory Results for Rathkes Cleft Cyst
Preoperative Laboratory Results of Acromegaly
Prior Cushings Disease Treatments
Prior NFA Treatments
Prior Prolactinoma Treatments
Prior Treatments for Acromegaly
Prior treatments for Rathke Cleft Cyst
Radiographic Response
Radiology
Rathkes Cleft Cyst Imaging Characteristic
Rathkes Cleft Cyst Index Surgery
Rathkes Cleft Cyst Pathology
Rathkes Cleft Cyst Symptoms
Respiratory Function
Salvage Treatment Form (SRS)
Serum Data
Social History
Spine Diagnosis
Spine Treatment Form
Surgical Complications
Surgical Elements from Index Surgery
Symptoms & Testing
Symptoms of Acromegaly
Symptoms of Cushings Disease
Symptoms of Hyperprolactinemia
Symptoms of Nonfunctioning Adenoma (NFA)
Tinetti Balance and Gait Tool
Toxicity Forms
Treatment
Tumor Characteristics
Tumor Imaging Characteristics
Tumor Pathology Results
Upper Extremity MMT Grid
Upper Extremity Range of Motion
Upper Extremity Status
Vascular Characteristics
Vascular Presentation
Vascular Treatment
Vestibular Schwannoma Enrollment Type
Vision Testing
Vitals and Measurements
VS - Imaging
VS - Patient Demographics
Zap - Diagnosis
Zap - Imaging
Zap - Patient Demographics
Zap - Treatment
Total

In [47]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Columns: 133 entries, FirstName to Total
dtypes: float64(1), int64(123), object(9)
memory usage: 182.0+ KB
None

In [48]:
df.describe()

             CaseNo  30-day Readmission  ADLs & IADLs  Allergies  ALS Functional Rating Scale  Aneurysm Presentation  Aneurysm Treatment  AVM Characteristics  AVM Presentation  AVM Treatment  Beck Anxiety Inventory  Berg Balance Tool  Complications Data  CV - Clinical Follow-up  CV - Patient Demographics  Diagnosis & Problems  Dietary Adherence  Endocrine Past Medical History  Enrollment Type  Functional Mobility  Gamma Knife Radiosurgery Treatment Arm  General Medical Profile  General Past Medical History  Glasgow Outcome Scale  Health Economics Information  Home Medications  Hospital Stay  Imaging  Important dates  Indication for Surgery  Intraoperative Blood Data  Intraoperative Summary  Intraoperative Technology Form    Lab  Lower Extremity Assessment  Lower Extremity MMT Grid  Lower Extremity Modified Ashworth Scale  Lower Extremity Range of Motion  Lower Extremity Status  Medical History  Medication List (Before Surgery)  Medications  Microbiology  Modified Frailty Index  Modified Rankin Scale (MRS)  Neuro Cognitive Summary Score Sheet  Neurofibromatosis  Neurological Exam  Neurology Clinical Form  Neuropsychiatric Inventory-Questionnaire (NPI-Q)  NIH Stroke Scale  Nurick Scale  Nutrition Genome Data  Pain Assessment  Parkinsons Clinical Data  Pathology - Brain Mets  Patient Contact Log  Patient Contact Tracking  Patient Demographics  Patient Registration  Pituitary - Demographics  Post-Radiosurgery Neuroradiology Data Form  Post-Temporal Lobectomy Neuroradiology Data Form  Post-Treatment Follow-up  Postoperative Acromegaly Treatments  Postoperative Cushings Disease Outcomes  Postoperative Cushings Disease Treatments  Postoperative Laboratory Results for Rathkes Cleft Cyst  Postoperative Laboratory Results of Acromegaly  Postoperative Nonfunctioning Adenoma Treatments and Outcomes  Postoperative Prolactinoma Outcomes  Postoperative Prolactinoma Treatments  Postoperative Rathkes Cleft Cyst Outcomes  Preoperative Laboratory Results for Cushings Disease  Preoperative Laboratory Results for Nonfunctioning Adenoma  Preoperative Laboratory Results for Prolactinoma  Preoperative Laboratory Results for Rathkes Cleft Cyst  Preoperative Laboratory Results of Acromegaly  Prior Cushings Disease Treatments  Prior NFA Treatments  Prior Prolactinoma Treatments  Prior Treatments for Acromegaly  Prior treatments for Rathke Cleft Cyst  Radiographic Response  Radiology  Rathkes Cleft Cyst Imaging Characteristic  Rathkes Cleft Cyst Index Surgery  Rathkes Cleft Cyst Pathology  Rathkes Cleft Cyst Symptoms  Respiratory Function  Salvage Treatment Form (SRS)  Serum Data  Social History  Spine Diagnosis  Spine Treatment Form  Surgical Complications  Surgical Elements from Index Surgery  Symptoms & Testing  Symptoms of Acromegaly  Symptoms of Cushings Disease  Symptoms of Hyperprolactinemia  Symptoms of Nonfunctioning Adenoma (NFA)  Tinetti Balance and Gait Tool  Toxicity Forms  Treatment  Tumor Characteristics  Tumor Imaging Characteristics  Tumor Pathology Results  Upper Extremity MMT Grid  Upper Extremity Range of Motion  Upper Extremity Status  Vascular Characteristics  Vascular Presentation  Vascular Treatment  Vestibular Schwannoma Enrollment Type  Vision Testing  Vitals and Measurements  VS - Imaging  VS - Patient Demographics  Zap - Diagnosis  Zap - Imaging  Zap - Patient Demographics  Zap - Treatment       Total
count  1.580000e+02               175.0         175.0      175.0                        175.0                  175.0               175.0                175.0             175.0          175.0                   175.0              175.0               175.0                    175.0                      175.0            175.000000              175.0                           175.0            175.0                175.0                                   175.0                    175.0                         175.0                  175.0                         175.0             175.0          175.0    175.0            175.0                   175.0                      175.0                   175.0                           175.0  175.0                       175.0                     175.0                                    175.0                            175.0                   175.0            175.0                             175.0        175.0         175.0                   175.0                        175.0                                175.0              175.0              175.0                    175.0                                             175.0             175.0         175.0                  175.0            175.0                     175.0                   175.0                175.0                     175.0                 175.0            175.000000                     175.0                                       175.0                                             175.0                     175.0                                175.0                                    175.0                                      175.0                                              175.0                                                 175.0                                              175.0                                           175.0                                  175.0                                      175.0                                              175.0                                                 175.0                                                      175.0                                              175.0                                               175.0                              175.0                 175.0                          175.0                            175.0                                   175.0                  175.0      175.0                                      175.0                             175.0                         175.0                        175.0                 175.0                         175.0       175.0           175.0            175.0                 175.0                   175.0                                 175.0               175.0                   175.0                         175.0                           175.0                                     175.0                          175.0           175.0      175.0                  175.0                          175.0                    175.0                     175.0                            175.0                   175.0                     175.0                  175.0               175.0                                  175.0           175.0                    175.0         175.0                      175.0            175.0          175.0                       175.0            175.0  175.000000
mean   5.228569e+07                 0.0           0.0        0.0                          0.0                    0.0                 0.0                  0.0               0.0            0.0                     0.0                0.0                 0.0                      0.0                        0.0              0.022857                0.0                             0.0              0.0                  0.0                                     0.0                      0.0                           0.0                    0.0                           0.0               0.0            0.0      0.0              0.0                     0.0                        0.0                     0.0                             0.0    0.0                         0.0                       0.0                                      0.0                              0.0                     0.0              0.0                               0.0          0.0           0.0                     0.0                          0.0                                  0.0                0.0                0.0                      0.0                                               0.0               0.0           0.0                    0.0              0.0                       0.0                     0.0                  0.0                       0.0                   0.0              0.011429                       0.0                                         0.0                                               0.0                       0.0                                  0.0                                      0.0                                        0.0                                                0.0                                                   0.0                                                0.0                                             0.0                                    0.0                                        0.0                                                0.0                                                   0.0                                                        0.0                                                0.0                                                 0.0                                0.0                   0.0                            0.0                              0.0                                     0.0                    0.0        0.0                                        0.0                               0.0                           0.0                          0.0                   0.0                           0.0         0.0             0.0              0.0                   0.0                     0.0                                   0.0                 0.0                     0.0                           0.0                             0.0                                       0.0                            0.0             0.0        0.0                    0.0                            0.0                      0.0                       0.0                              0.0                     0.0                       0.0                    0.0                 0.0                                    0.0             0.0                      0.0           0.0                        0.0              0.0            0.0                         0.0              0.0    0.034286
std    2.704137e+07                 0.0           0.0        0.0                          0.0                    0.0                 0.0                  0.0               0.0            0.0                     0.0                0.0                 0.0                      0.0                        0.0              0.213194                0.0                             0.0              0.0                  0.0                                     0.0                      0.0                           0.0                    0.0                           0.0               0.0            0.0      0.0              0.0                     0.0                        0.0                     0.0                             0.0    0.0                         0.0                       0.0                                      0.0                              0.0                     0.0              0.0                               0.0          0.0           0.0                     0.0                          0.0                                  0.0                0.0                0.0                      0.0                                               0.0               0.0           0.0                    0.0              0.0                       0.0                     0.0                  0.0                       0.0                   0.0              0.106597                       0.0                                         0.0                                               0.0                       0.0                                  0.0                                      0.0                                        0.0                                                0.0                                                   0.0                                                0.0                                             0.0                                    0.0                                        0.0                                                0.0                                                   0.0                                                        0.0                                                0.0                                                 0.0                                0.0                   0.0                            0.0                              0.0                                     0.0                    0.0        0.0                                        0.0                               0.0                           0.0                          0.0                   0.0                           0.0         0.0             0.0              0.0                   0.0                     0.0                                   0.0                 0.0                     0.0                           0.0                             0.0                                       0.0                            0.0             0.0        0.0                    0.0                            0.0                      0.0                       0.0                              0.0                     0.0                       0.0                    0.0                 0.0                                    0.0             0.0                      0.0           0.0                        0.0              0.0            0.0                         0.0              0.0    0.281563
min    2.987770e+05                 0.0           0.0        0.0                          0.0                    0.0                 0.0                  0.0               0.0            0.0                     0.0                0.0                 0.0                      0.0                        0.0              0.000000                0.0                             0.0              0.0                  0.0                                     0.0                      0.0                           0.0                    0.0                           0.0               0.0            0.0      0.0              0.0                     0.0                        0.0                     0.0                             0.0    0.0                         0.0                       0.0                                      0.0                              0.0                     0.0              0.0                               0.0          0.0           0.0                     0.0                          0.0                                  0.0                0.0                0.0                      0.0                                               0.0               0.0           0.0                    0.0              0.0                       0.0                     0.0                  0.0                       0.0                   0.0              0.000000                       0.0                                         0.0                                               0.0                       0.0                                  0.0                                      0.0                                        0.0                                                0.0                                                   0.0                                                0.0                                             0.0                                    0.0                                        0.0                                                0.0                                                   0.0                                                        0.0                                                0.0                                                 0.0                                0.0                   0.0                            0.0                              0.0                                     0.0                    0.0        0.0                                        0.0                               0.0                           0.0                          0.0                   0.0                           0.0         0.0             0.0              0.0                   0.0                     0.0                                   0.0                 0.0                     0.0                           0.0                             0.0                                       0.0                            0.0             0.0        0.0                    0.0                            0.0                      0.0                       0.0                              0.0                     0.0                       0.0                    0.0                 0.0                                    0.0             0.0                      0.0           0.0                        0.0              0.0            0.0                         0.0              0.0    0.000000

In [29]:
### Display :

import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', 133)
pd.set_option('display.width', None)

In [31]:
pd.set_option('display.expand_frame_repr', False)

In [50]:


file_name = "~/Downloads/BNI-Consent-2022-07-16.xlsx"

In [ ]:
ls -laht ~/Downloads/

In [51]:
from pandas import read_excel
import warnings

with warnings.catch_warnings(record=True):
    warnings.simplefilter("always")
    myexcelfile = pd.read_excel(file_name, engine="openpyxl")
    
print(myexcelfile)

           Form FirstName    LastName   PatientID      CaseNo  Completed  Expired  Total
0   BNI Consent       123         123      123444   7596101.0          0        1      0
1   BNI Consent      Test   Agreement      101122         NaN          1        0      0
2   BNI Consent      Test         ALS      986443  66750806.0          1        0      0
3   BNI Consent     Danny        Batt      267547  87668524.0          0        1      0
4   BNI Consent      Test        Beck      123456         NaN          3        0      0
5   BNI Consent      Test        Case      995830    298777.0          5        0      0
6   BNI Consent       Lee        Cobb    74748393  75919628.0          1        0      0
7   BNI Consent     Jesse     D'Spain  99982x3ab1  21877366.0          1        0      0
8   BNI Consent     Jesse     D'Spain  999we2731a  87940098.0          1        0      0
9   BNI Consent     Jesse     D'Spain   999x832ab  30779421.0          1        0      0
10  BNI Consent      Test  Form Alert    imantest  36061058.0          0        1      0
11  BNI Consent      test    headache       52387  89840333.0          1        0      0
12  BNI Consent      test        jeff  1234567890  81377451.0          0        0      0
13  BNI Consent       Bob       Jones         001  48891691.0          0        1      0
14  BNI Consent      Test   Pituitary      123458  96477668.0          0        2      0
15  BNI Consent      TEST          QA    R4634YJ2         NaN          0        1      0
16  BNI Consent      test        test    7DNJ7KX9  11394412.0          1        1      0
17  BNI Consent  Acoustic        Test       62451  15906739.0          0        1      0
18  BNI Consent       Ana        Test      001-AT  49507671.0          1        0      0
19  BNI Consent   Annessa        Test       00001  65394911.0          1        0      0
20  BNI Consent   Annessa        Test       10005  74451465.0          2        0      0
21  BNI Consent   Crystal        Test       87R9X  39674243.0          3        3      0
22  BNI Consent   Crystal        Test       944TF  51910207.0          2        0      0
23  BNI Consent   Crystal        Test      A57294  73304106.0          5        0      0
24  BNI Consent      Five        Test  210879_old         NaN          0        1      0
25  BNI Consent     Hanna        Test       12345  35403292.0          0        0      0
26  BNI Consent    Ildiko        Test        1234  94051379.0          1        0      0
27  BNI Consent     Komal        Test      102938  79874440.0          0        1      0
28  BNI Consent      Lexi        Test      007007  54538507.0          1        2      0
29  BNI Consent      Lexi        Test     9761212  60201817.0          1        1      0
30  BNI Consent     Shaun        Test      968504  51143667.0          2        0      0
31  BNI Consent      Test        Test        1231  15622885.0          1        0      0
32  BNI Consent    Trevor        Test         523  25686300.0          0        6      0
33  BNI Consent    Tucker        Test        test  43728720.0          1        0      0
34        Total       NaN         NaN         NaN         NaN         37       23     60

In [36]:
print(myexcelfile.head())
print()
print(myexcelfile.shape)
print()
print(myexcelfile.columns)

                                                Form FirstName LastName PatientID      CaseNo  Completed  Expired  Total
0  Personal Family History - Personal Family History       123      123    123444   7596101.0          0        1      0
1  Personal Family History - Personal Family History     Danny     Batt    267547  87668524.0          7        0      0
2  Personal Family History - Personal Family History      Test     Beck    123456         NaN          0        1      0
3  Personal Family History - Personal Family History      Test     Iman       NaN         NaN          0        2      0
4  Personal Family History - Personal Family History      Test    Merge     11112  92165756.0          0        1      0

(30, 8)

Index(['Form', 'FirstName', 'LastName', 'PatientID', 'CaseNo', 'Completed',
       'Expired', 'Total'],
      dtype='object')


### Base64 encoding website

Convert Image to <a href="https://www.base64-image.de/">BASE64-Image-Encoding</a>

### Option 2.- Workflow: 

#### Parsing log by AWS Lambda, deploying code by Terraform and analyzing data by AWS Athena.

 <a href="https://aws.amazon.com/blogs/mt/automate-capture-analysis-ci-cd-metrics-using-aws-devops-monitoring-dashboard-solution/">Link-to article</a>  
  
    
<img src="../workflow-vizual-s3-aws_lambda-athene-web_app.png" width="800" height="300">  

- ***Simple step-by-step architecture for building an ETL process and then displaying that data back to the end-user by only using serverless service from AWS.*** 

> * End-user uploads data file into the S3 (This can be done manually by logging onto the console or via an API accessible through a frontend application)  

> * S3 triggers a Lambda function on receiving a create object event  
  
  
> * Lambda function receives S3 event object and processes the data from the file into a relational database on AWS’s Aurora database (ETL)  

> * End-user can now access this data from the database by accessing the web application statically hosted on S3 & served via the Cloudfront  
  
> * This web application will make relevant API calls via ApiGateway (attached to Lambda functions) to fetch data
--------------------

In [9]:
#print(os.listdir('images/')) # = ls "command"
print(os.getcwd()) # + "/testfolder" # = pwd "command"

/Users/sagilevinas/Desktop/VT_mar22/projects/devop/vt-architecture-plus-modernization-planning/jupyter/by_subject/Analytics

## Imports  
<a id='Imports0'></a>
<a href='#backtotop'>Back to Top</a>

In [4]:
## 0.1

# System Utilities 
import os
import sys
import datetime
import re
#import boto3

import datetime
from datetime import timedelta
# DataBase Import
#import snowflake.connector
#from snowflake import connector

# Python tools 
#import configparser
# from configparser import ConfigParser 
# import configparser
# Standard imports
# Third Party Imports 
import pandas as pd
import dataframe_image as dfi
import matplotlib.pyplot as plt
import numpy as np
import pprint
from pprint import pprint
import json
from itertools import islice
import time


from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

from PIL import Image


%matplotlib inline

In [ ]:
%load_ext watermark

%watermark -v -m -p wget,pandas,python,watermark

#date
print(" ")
%watermark -u -n -t -z
%watermark --iversions

In [ ]:
cloudwatch_query = ' \
fields  @message \
| filter @message like /execute/ \
| sort @timestamp desc \
| limit 100 \
| parse @message 'execute * *' as pre_tag, Tag_and_sql \
| display pre_tag, Tag_and_sql \ 
# | stats count(Query) as NumberOfTimes by Query \
# | sort NumberOfTimes desc \
'

In [5]:
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

## Image Selector

In [8]:
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

import os
from PIL import Image               # to load images
from IPython.display import display # to display images



#file=os.listdir('images/') # = ls "command"
#fdir=os.getcwd() + "/testfolder" # = pwd "command"

@interact
def show_images(file=os.listdir('../../images/vizuals/')):
    pil_im = Image.open("../../images/vizuals/" + file) 
    display(pil_im)

interactive(children=(Dropdown(description='file', options=('img-understanding-analytics-development-lifecycle…

In [2]:
DataSets/Clinical-Form-Compliance-Report-2022-07-16.xlsx

'/Users/sagilevinas/Desktop/VT_mar22/projects/devop/vt-architecture-plus-modernization-planning/jupyter/by_subject/Analytics'

In [11]:
print(os.listdir('../../../DataSets'))

['cloudwatch-query-results-to-show-parsing-inconsistancies-july1522.csv', 'Clinical-Form-Compliance-Report-2022-07-16.xlsx', '.ipynb_checkpoints']

### Bottom Page  
<a href='#backtotop'>Back to Top</a>